@{
ViewData["Title"] = "A propos";
}
<div class="row">
    <div class="col-md-12">
        <h1>Accueil <small>/Home/About</small></h1>
        <h3>Projet ASP.NET</h3>
        <p>ISEN Yncrea Méditérranée 2018</p>
        <p>Galiay Romain</p>
    </div>
</div>