@{
    ViewData["Title"] = "Accueil";
}
<div class="row">
    <div class="col-md-12">
        <h1>Accueil <small>/Home/Index</small></h1>
        <h3>Projet ASP.NET</h3>
        
       
    </div>
</div>