@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces
@{
    ViewData["Title"] = "Commune (détail)";
}

@inject IDepartementRepository DepartementRepository;
@model Commune

<div class="row">
    <div class="col-md-12">
        <h1>Commune <small>/Commune/Index</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Detail">
            <input type="hidden" value="@Model?.Id" asp-for="Id" />
            <div>
                <label for="Nom" class="control-label">Nom de la commune :</label>
                <input type="text" class="form-control" id="Nom" placeholder="Nom de la commune"
                       value="@Model?.Nom" asp-for="Nom" />
            </div>
            <div>
                <label for="Longitude" class="control-label">Longitude :</label>
                <input type="text" class="form-control" id="Longitude" placeholder="Longitude"
                       value="@Model?.Longitude" asp-for="Longitude"/>
            </div>
            <div>
                <label for="Latitude" class="control-label">Latitude :</label>
                <input type="text" class="form-control" id="Latitude" placeholder="Latitude"
                       value="@Model?.Latitude" asp-for="Latitude" />
            </div>
            <div>
                @Html.Label("DepartementId", "Département :", new {@class = "control-label"})
                @Html.DropDownListFor(model => model.DepartementId,
                    new SelectList(DepartementRepository.GetAll(), "Id", "Nom"), "-- Sélectionnez une département --",
                    new {@class = "form-control", id = "DepartementId", @for = "DepartementeId"})
            </div>
            <br />
            &nbsp;
            <input id="submit" type="submit" class="btn btn-primary" value="Valider" />
            <a class="btn btn-default" 
               asp-controller="Commune" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>